<html lang="en">
  <head>
    <title>Contacto</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/css/pqr.css">
  </head>
  <body>
    <form action="">
      <h2>Contacto</h2>
      <input type="text" name="nombre" placeholder="Nombre">
      <input type="text" name="correo" placeholder="Correo">
      <input type="text" name="telefono" placeholder="Telefono">
      <textarea name="mensaje" placeholder="describa aqui su problema"></textarea>
      <a href="PQR">
        <input type="submit" value="Enviar" class="myFunction()" id="boton" onclick="myFunction()">
      <h3>
        <a href="/"><p style="color:black;">Regresar</p></a>
      </h3>
    </form>
    <script>
      function myFunction() {
        alert("Su solicitud sera procesada y respondida pronto");
      }
    </script>
  </body>
</html>
